<% @questions.each do |question| %>
  <h2>Question <%= question.id %></h2>
  <p>
    <%= question.question %>
  </p>
  <p>
    <%= question.choices %>
  </p>
  <p>
    <%= question.correct_index %>
  </p>
<% end %>
