
<div class ="jumbotron">
  <h1>Quizbowl</h1>
  <p class ="lead">
    science questions for the internet
  </p>
  
  <% if user_signed_in? %>
  <% else %>
  <p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  <% end %>
</div>
<script>
	widget = new Backbone.Widget.Feedback({
		distinct_id: 656556,
		token: 12312341241241234
	})
</script>
