<div class="container">
<h1>Leaderboard is this real life</h1>
	<table class="table table-striped">
    <% @users.each do |u| %>
		<tr>
			<th>Full Name</th>
      <th>Email: <%=u.email%></th>
      <th>Id</th>
      <th>Username</th>
      <th>Source</th>
      <th>Date created: <%=u.created_at%></th>
      <th>Payments</th>
      <th>Identities</th>
    </tr>

    <% end %>


	</table>
</div>